import React from 'react';
import { render, screen } from '@testing-library/react';
import userEvent from '@testing-library/user-event';
import { {componentName} } from '@/components/{if category}{category}/{componentName}{else}{componentName}{/if}';

describe('{componentName}', () => {
  {testCases}
});
